* {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    font-weight:700;
    text-align: center;
}

h2 {
    font-weight:500;
    text-decoration: underline;
    color: darkolivegreen;
}

.img {
    width: 300px;
}

.ingredients li {
    font-weight:300;
}

.steps li {
    font-weight: 300;
}

